{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@shopify/typescript",
    "plugin:@shopify/typescript-type-checking",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "react/display-name": "off"
  }
}
